.eligibility-criteria {
	background: linear-gradient(
			to right,
			var(--dark) 0%,
			var(--dark_overlay) 300%
		),
		url("../../../assets/images/blood-donation(1).jpg") center/cover
			no-repeat;
}

.tips-for-managing-blood-loss {
	background: linear-gradient(
			to right,
			var(--dark) 0%,
			var(--dark_overlay) 300%
		),
		url("../../../assets/images/blood-donation(4).jpg") center/cover
			no-repeat;
}
