.donate-blood-with-hemocell
{
    background: var(--dark) url('../../../assets/images/blood-donation(3).jpg') no-repeat center;
    background-size: cover;
	position: relative;
}

.why-donate-blood
{
    background: var(--dark) url('../../../assets/images/blood-donation(2).jpg') no-repeat center;
    background-size: cover;
	position: relative;
}